<div class="cajonpadre">
    <div class="titul">
        <h4>Hola {{usuario}} </h4>
        <button class="boton1" type="button" onclick="location.href='/admin/login/logout'">Cerrar Sesion</button>
    </div>

    <div class="titul">
        <h2>Home</h4>
            <button class="boton2" type="button" onclick="location.href='/admin/inicio/agregar'">Agregar</button>
            <button class="boton2" type="button" onclick="location.href='/admin/navegador'">Volver</button>
    </div>

    <div class="imag">
        {{#each inicio}}
        <div class="cajaimag">
            <div class="image">
                {{#if img_id}}
                    {{{imagen}}}
                {{else}}
                    <img class="image" src="/images/sinimagen.jpg" alt="">
                {{/if}}
            </div>
            <div class="opciones">
                <div>Opciones: <a href="/admin/inicio/editar/{{id}}"><img class="editar"
                            src="/images/editar.png"></a><a onclick="return confirm('¿Esta seguro que quiere borrar la imagen')" href="/admin/inicio/delete/{{id}}"><img class="borrar"
                            src="/images/borrar.png"></a></div>
            </div>
        </div>
        {{/each}}
    </div>

</div>